.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
}

.logo {
  font-weight: 700;
  letter-spacing: 2px;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  font-size: 14px;
  transition: 0.3s;
}

.links a:hover {
  opacity: 0.6;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .links {
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: none;
  }

  .links.active {
    display: flex;
  }
}


.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #dc2626;
}